<header>
  <h1>
    Welcome to the Pertimm page test<br />
    <span>(level 2)</span>
  </h1>
</header>

<main>
  <button (click)="startGame()" [disabled]="mazeStore.isExploring()">
    Start game
  </button>

  <div class="grid">
    @for (row of grid(); track trackByRow(row, rowIndex); let rowIndex = $index)
    {
    <div class="row">
      @for (cell of row; track trackByCell(cell, cellIndex); let cellIndex =
      $index) {
      <div
        class="cell"
        [ngClass]="getCellClass(cell)"
        [attr.data-coord]="cell ? cell.x + ',' + cell.y : null"
      >
        {{ cell ? cell.value[0] : "" }}
      </div>
      }
    </div>
    }
  </div>

  <!-- <div class="logs">
    <h3>Logs</h3>
    @for (line of mazeStore.log(); track $index) {
    <div>{{ line }}</div>
    }
  </div> -->
</main>

<footer>
  <p>
    Code created by Johanne MAY as part of a technical test sent by Pertimm
    Developpement in June 2025.
  </p>
</footer>
