<header>
  <h1>
    Welcome to the Pertimm page test<br />
    <span>(level 2)</span>
  </h1>
</header>

<main>
  <menu>
    <li>
      <button
        matButton
        class="start-game"
        (click)="onResetGame()"
        [disabled]="mazeStore.isExploring() || !mazeStore.isFinish()"
      >
        Reset game
      </button>
    </li>

    <li>
      <button
        matButton="elevated"
        class="start-game"
        (click)="onStartGame()"
        [disabled]="mazeStore.isExploring()"
      >
        Start game
      </button>
    </li>
  </menu>

  <div class="grid">
    @for (row of grid(); track trackByRow(row, rowIndex); let rowIndex = $index)
    {
    <div class="row">
      @for (cell of row; track trackByCell(cell, cellIndex); let cellIndex =
      $index) {
      <div
        class="cell"
        [ngClass]="getCellClass(cell)"
        [attr.data-coord]="cell ? cell.x + ',' + cell.y : null"
      ></div>
      }
    </div>
    }
  </div>
</main>

<footer>
  <p>
    Code created by Johanne MAY as part of a technical test sent by Pertimm
    Developpement in June 2025.
  </p>
</footer>
